@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-amiri);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  @keyframes modal-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes modal-content-show {
    from {
      opacity: 0;
      transform: translateY(-2rem) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .animate-modal-show {
    animation: modal-fade-in 200ms ease-out;
  }

  .animate-modal-content-show {
    animation: modal-content-show 300ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-amiri {
  font-family: "Amiri", serif;
}
